*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

a:visited{
  text-decoration: none;
  text-decoration-style: none;
}

a{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* NAV */

nav{
  width: 100%;
  height: 8rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  height: 5rem;
  margin: 0 auto 1rem auto;
  padding: 1rem auto 1rem auto;
  list-style-type: none;
}

nav li{
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px){
  nav li{
    font-size: 2rem;
  }
}

.projects-nav{
  text-decoration-style: none;
  text-decoration: none;
}

.contact-nav{
  text-decoration-style: none;
  text-decoration: none;
}

/* burger nav */

.burger{
  display: none;
}

@media only screen and (max-width: 1000px){
  nav{
    display: none;
  }
  .burger{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
  }
  .fa-bars{
    transform: scale(3);
    margin: 7rem auto 0rem auto;
    cursor: pointer;
  }
  .burger-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
  }
  .burger-ul li {
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
  }
  .burger-nav{
    background-color: #FBF4E9;
    height: 20rem;
    margin: 3rem auto 0 auto;
}
.fa-window-close{
  position: absolute;
  transform: scale(3) translate(10rem, 0.7rem);
  cursor: pointer;
}




}

/* BODY */

body{
  font-family: 'Poiret One', cursive;
  text-align: center;
}

/* INTRO */

#intro{
max-width: 100%;
height: 35rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}

.intro-main-title{
  text-align: center;
  font-size: 5rem;
  max-width: 80%;
font-family: 'Poiret One', cursive;

}

@media only screen and (max-width: 1000px){
  #intro{
    height: 70rem;
    justify-content: flex-start;
  }
  .intro-main-title{
    margin: 8rem auto 8rem auto;
    font-size: 6rem;
  }
}

@media only screen and (max-width: 500px){
  .intro-main-title{
    font-size: 4rem;
    margin-bottom: 10rem;
  }
}


/* PROJECTS */

#projects{
max-width: 90%;
max-height: 250rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background-color: #FDF6F0;
margin: 5rem auto 5rem auto;
}

.projects-title{
  text-align: left;
  font-size: 6rem;
  z-index: 10;
  margin: 5rem auto 5rem auto;
}

@media only screen and (max-width: 500px){
  .projects-title{
    font-size: 4rem;
  }
}

/* ROAD 2 DANISH PROJECT */

#road-to-danish-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url('img/road2danish-background.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#road-to-danish-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.road-to-danish-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #FF7171;
}





.road2danish-btn{
  background-color: #FF7171;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transform: translateY(3rem);
  border: 1px solid #FF7171;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;

}

.road2danish-btn:hover{
  background-color: #630A10;
  filter: drop-shadow(2px 2px 7px #FF7171);
  border-radius: 0rem;
  text-shadow: none;
}

@media only screen and (max-width: 951px){
  .road2danish-btn{
      transform: translateY(4rem);
  }
}

@media only screen and (max-width: 570px){
  .road-to-danish-title{
    font-size: 3rem;
  }
}


/* WORLD CARDS PROJECT */

#world-cards-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("img/worldcards-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;

}

#world-cards-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.world-cards-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #0F1123;
}

.worldcards-btn{
  background-color: #0F1123;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.worldcards-btn:hover{
  background-color: #121013;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
}

@media only screen and (max-width: 852px){
  .world-cards-title{
    font-size: 3rem;
  }
}

@keyframes soccer{
  0% {transform: scale(3) rotate(0deg) translate(-6rem, 6rem);}
  100% {transform: scale(3) rotate(360deg) translate(8rem, 4rem);}
}



.fa-futbol{
  color: #DDDDDD;
  animation-name: soccer;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* WILL YOU LIVE PROJECT */

#willYouLive-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("img/cometCopy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#willYouLive-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.willYouLive-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #0F1123;
}

.willYouLive-btn{
  background-color: #0F1123;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.willYouLive-btn:hover{
  background-color: #EB92BE;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
}

@keyframes brightStar{
  0% {opacity: 30%;}
  100% {opacity: 60%; filter: drop-shadow(6px 6px 10px white);}
}



.star1{
  position: absolute;
  transform: translate(-20rem, -6rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star2{
  position: absolute;
  transform: translate(20rem, -2rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.15s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star3{
  position: absolute;
  transform: translate(25rem, 8rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star4{
  position: absolute;
  transform: translate(-24rem, 8rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.35s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star5{
  position: absolute;
  transform: translate(-15rem, 8rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star6{
  position: absolute;
  transform: translate(-4rem, 1rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.star7{
  position: absolute;
  transform: translate(30rem, 1rem);
  background: white;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  z-index: 100;
  animation-name: brightStar;
  animation-duration: 0.4s;
  animation-delay: 0.6s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 1000px){
  .star1{
    transform: translate(-1rem, -6rem);
  }
  .star2{
    transform: translate(-1rem, 1rem);
  }
  .star3{
    transform: translate(6rem, 4rem);
  }
  .star4{
    transform: translate(15rem, -8rem);
  }
  .star5{
    transform: translate(-12rem, -10rem);
  }
}

@media only screen and (max-width: 852px){
  .willYouLive-title{
    font-size: 3rem;
  }
}

/* REFLAG PROJECT

#reflag-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url('img/reflag-background.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#reflag-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.reflag-btn{
  background-color: #346751;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transform: translate(-12.7rem, 7rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  position: absolute;
  width: 13rem;
}

.reflag-btn:hover{
  background-color: #064420;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
}




@keyframes flag{
 0% {transform: perspective(500px) translateZ(0);}
 60% {transform: perspective(500px) translateZ(3rem);}
 100% {transform: perspective(500px) translateZ(0);}
}


.r{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}

.e{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-fill-mode: both;
  animation-delay: 0.4s;
}

.f{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}

.l{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-fill-mode: both;
  animation-delay: 1.1s;
}

.a{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-delay: 1.4s;
  animation-fill-mode: both;

}

.g{
  transform: translateY(-4rem);
  font-size: 5rem;
  color: #112031;
  text-shadow: 5px 2px white;
  animation: flag 2s ease-in-out infinite;
  animation-fill-mode: both;
  animation-delay: 1.7s;
}

@media only screen and (max-width: 440px){
  .r{
    font-size: 3rem;
  }
  .e{
    font-size: 3rem;
  }
  .f{
    font-size: 3rem;
  }
  .l{
    font-size: 3rem;
  }
  .a{
    font-size: 3rem;
  }
  .g{
    font-size: 3rem;
  }
  .reflag-btn{
    font-size: 0.8rem;
    transform: translate(-8.5rem, 9rem);
    width: 9rem;
  }
}
*/

/* THE QUOTES LIBRARY */

#quote-library-project{
width: 90%;
height: 25rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 2rem auto 2rem auto;
background-image: url('img/quote-background.jpg');
background-position: center;
background-size: cover;
border-radius: 30px;
overflow: hidden;
filter: drop-shadow(2px 2px 5px);
text-align: center;
}

#quote-library-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.quote-library-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #825959;
}

.quote-library-btn{
  background-color: #825959;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
}

.quote-library-btn:hover{
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
  background-color: #734046;
}

@media only screen and (max-width: 1196px){
  .quote-library-btn{
    transform: translateY(3rem);
  }
}

@media only screen and (max-width:692px){
  .quote-library-title{
    font-size: 3rem;
  }
  .quote-library-btn{
    transform: translateY(4rem);
  }
}

@media only screen and (max-width: 415px){
  .quote-library-btn{
    font-size: 1rem;
    transform: translateY(4rem);
  }
}


/* ABOUT */

#about{
  width: 80%;
  max-height: 280rem;
  margin: 1rem auto 1rem auto;
}

.about-title{
  text-align: left;
  font-size: 6rem;
  margin: 2rem auto 0rem auto;
}

.about-p{
  margin: 2rem auto 1rem auto;
  font-size: 3rem;
  text-align: left;
}

.advertising{
  color: blue;
}

@media only screen and (max-width: 500px){
  .about-title{
    font-size: 4rem;
  }
  .about-p{
    font-size: 2rem;
  }
}

.diplomas{
  background-color: white;
  max-width: 80vw;
  max-height: 230rem;
  margin: 5rem auto 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.diploma{
  width: 60%;
  height: auto;
  margin: 3rem auto 1rem auto;
}

.line-pre-stack{
  max-width: 30rem;
  margin: 8rem auto 1rem auto;
  border: none;
  background: black;
  height: 0.2rem;
  opacity: 0.5;
}

/* STACK */

.stack{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 20rem;
}

.stack-title{
  text-align: center;
  font-size: 4rem;
  margin: 5rem auto 5rem auto;
}

.stack-programmes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  margin: 0rem auto 2rem auto;
}

.program{
  transform: scale(4);

}

.fa-html5:hover{
  transform: scale(4.3);

}

.fa-css3-alt:hover{
  transform: scale(4.3);
}

.fa-bootstrap:hover{
  transform: scale(4.3);
}

.fa-js{
  transform: scale(4);
}

.fa-js:hover{
  transform: scale(4.3);
}

.fa-git-alt:hover{
  transform: scale(4.3);
}

.tools{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
  margin: 2rem auto 1rem auto;
}

.illustrator{
  width: 80px;
  height: auto;
}

.photoshop{
  width: 80px;
  height: auto;
}

.premiere{
  width: 87px;
  height: auto;
  transform: scale(2);
}

@media only screen and (max-width: 707px){
  .stack-title{
    font-size: 3rem;
  }
  .stack-programmes{
    width: 15rem;
  }

  .program{
    transform: scale(3);
  }

  .fa-js{
    transform: scale(3);
  }
  .fa-git-alt{
    transform: scale(3);
  }
  .tools{
    width: 15rem;
  }
  .illustrator{
    width: 60px;
    height: auto;
  }

  .photoshop{
    width: 60px;
    height: auto;
  }

  .premiere{
    width: 67px;
    height: auto;
    transform: scale(2);
  }
}

@media only screen and (max-width: 530px){
  .stack-title{
    font-size: 3rem;
  }
  .stack-programmes{
    width: 12rem;
  }

  .program{
    transform: scale(2.5);
  }

  .fa-js{
    transform: scale(2.5);
  }
  .fa-git-alt{
    transform: scale(2.5);
  }
  .tools{
    width: 12rem;
  }
}

.line-pre-chat{
  max-width: 30rem;
  margin: 8rem auto 1rem auto;
  border: none;
  background: black;
  height: 0.2rem;
  opacity: 0.5;
}

/* CHAT */

#chat{
  width: 100%;
  height: 30rem;
}

.chat-title{
  text-align: center;
  font-size: 4rem;
  margin: 6rem auto 5rem auto;
}

.kaffe-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 12rem;
  margin: 1rem auto 1rem auto;
  transform: scale(1.4);
}

.phone-number{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.envelope-mail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.fa-phone{
  margin-bottom: 1rem;
}

.fa-envelope{
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px){
.kaffe-contact{
  flex-direction: column;
  transform: scale(2);
  height: 12rem;
  margin: 4rem auto 1rem auto;
}
.chat-title{
  margin-bottom: 10rem;
}
#chat{
  height: 38rem;
}
}

@media only screen and (max-width: 560px){
  .mail{
    font-size: 0.8rem;
  }
}


/* FOOTER */

#footer{
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFDEDE;
}

.name-footer{
  font-size: 3rem;
  font-family: 'Poiret One', cursive;
  margin: 2rem auto 4rem auto;
  text-shadow: 3px 2px #FDEFEF;
}

.footer-icons{
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transform: scale(2);
  margin: 0 auto 2rem auto;
}

@media (max-width: 620px){
  .name-footer{
    font-size: 2.5rem;
  }
  .footer-icons{
    width: 8rem;
  }
}

@media only screen and (max-width: 510px){
  .name-footer{
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 400px){
  .name-footer{
    font-size: 1.5rem;
  }
  .footer-icons{
    width: 5rem;
  }
}

.container{
max-width: 100%;
background-color: #FFE6E6;
overflow: hidden;
margin: 0 auto 0 auto;
}
