*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

.container{
  width: 100%;
background-color: #FFE6E6;
}

/* NAV */

nav{
  width: 100%;
  height: 8rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  height: 5rem;
  margin: 0 auto 1rem auto;
  padding: 1rem auto 1rem auto;
  list-style-type: none;
}

nav li{
  font-size: 1.5rem;
}

.projects-nav{
  text-decoration-style: none;
  text-decoration: none;
}

.contact-nav{
  text-decoration-style: none;
  text-decoration: none;
}

/* BODY */

body{
  font-family: 'Poiret One', cursive;
}

/* INTRO */

#intro{
max-width: 100%;
height: 35rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.intro-main-title{
  text-align: center;
  font-size: 5rem;
  max-width: 80%;
  font-family: 'Poiret One', cursive;
}

/* PROJECTS */

#projects{
max-width: 80%;
height: 180rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: #FDF6F0;
margin: 5rem auto 5rem auto;
}

.projects-title{
  text-align: left;
  font-size: 6rem;
  margin: 2rem auto 0rem auto;
}

/* ROAD 2 DANISH PROJECT */

#road-to-danish-project{
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3rem auto;
  background-color: red;
  border-radius: 30px;
}

#road-to-danish-project:hover{
filter: drop-shadow(5px 5px 15px);
cursor: pointer;
}

.road-to-danish-title{
  font-size: 4rem;
  color: white;
}


/* WORLD CARDS PROJECT */

#world-cards-project{
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem auto 3rem auto;
  background-color: orange;
  border-radius: 30px;
  overflow: hidden;
}

#world-cards-project:hover{
filter: drop-shadow(5px 5px 15px);
cursor: pointer;
}

.world-cards-title{
  font-size: 4rem;
  color: white;
}


.world-cards-title:hover{
  animation-name: title;
  animation-duration: 3s;
}

@keyframes soccer{
  from {color: black;}
  to {color: black;}
  from {transform: scale(5) rotate(0deg) translate(-3rem, 3rem);}
  to {transform: scale(5) rotate(380deg) translate(3rem, 5rem);}
}



.fa-futbol{

  animation-name: soccer;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

/* REFLAG PROJECT */

#reflag-project{
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3rem auto;
  background-color: blue;
  border-radius: 30px;
}

#reflag-project:hover{
filter: drop-shadow(5px 5px 15px);
cursor: pointer;
}

.reflag-title{
  font-size: 4rem;
  color: white;
}

/* ZOO PROJECT */

#zoo-project{
  width: 80%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3rem auto;
  background-color: green;
  border-radius: 30px;
}

#zoo-project:hover{
filter: drop-shadow(5px 5px 15px);
cursor: pointer;
}

.zoo-title{
  font-size: 4rem;
  color: white;
}











/* FOOTER */

#footer{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.name-footer{
  font-size: 3rem;
  font-family: 'Poiret One', cursive;
}

.footer-icons{
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transform: scale(1.5);
}
