*{
  paddin: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

a{
  color: black;
  text-decoration: none;
}

body{
  text-align: center;
}



/* INTRO */

#intro{
  width: 100%;
  height: 50rem;
  background: url("danishpic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}




.intro-main-title{
  display: inline-block;
  color: rgb(218, 41, 28);
  font-size: 6.5rem;
  margin: 1rem auto 1rem auto;
  text-shadow: 5px 2px white;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-stretch: semi-expanded;
  z-index: 3;
}



.intro-title-practice{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 0 auto;
  z-index: 3;
}

.practice{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Timmana', sans-serif;
  font-size: 2rem;
  margin: 0 auto 2rem auto;
  z-index: 3;
}

h3{
  color: white;
    text-shadow: 3px 2px black;
}

@media only screen and (max-width: 1000px){
  #intro{
    height: 100vh;
  }
  .practice{
    font-size: 3rem;
  }
  h3{
    color: rgb(218, 41, 28);
      text-shadow: 3px 2px white;
  }
}

.adjectives-title{
  text-decoration: none;
}

.adjectives-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}

.right-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}

.tenses-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}


.conjunctions-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}

.family-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}

.work-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}

.free-time-title:hover{
  background-color: white;
  color: rgb(218, 41, 28);
  cursor: pointer;
}
